.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.kanboard-columns-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.kanboard-column {
  display: flex;
  flex-direction: column;
  background-color: rgba(6, 24, 44, 0.4);
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  flex: 1 1 calc(25% - 20px);
  min-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-sizing: border-box;
}

.kanboard-column h2 {
  margin: 0;
  text-transform: uppercase;
  padding: 10px;
  background-color: #e0e0e0;
  border-bottom: 2px solid #ccc;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.kanboard-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.task-item {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  cursor: grab;
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .kanboard-column {
    flex: 1 1 calc(25% - 20px);
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .kanboard-columns-header {
    flex-direction: column;
  }

  .kanboard-column {
    width: 100%;
    margin-bottom: 20px;
  }
}


.name{
display: flex;
align-items: center;
justify-content: center;
}



/* FLOATING -BOX-CSS */ 

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  background-color: green;
 
}

.task-form {
  position: fixed;
  top: 20%;
  left: 50%;
  
  transform: translateX(-50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
  padding: 20px;
  display: none;
  
  z-index: 1000;
}

.task-form.active {
  display: block;
}

.task-form input,
.task-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-form button {
  padding: 10px;
  background-color:green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-form button:hover {
  background-color: #0056b3;
}
